# ==========================================
# BLAZE SURVIVAL
# ==========================================

# ===== WORLD / MAP =====
world/
world_nether/
world_the_end/
lobby/
survival/

# ===== SERVER RUNTIME / FILE NẶNG =====
logs/
cache/
crash-reports/
libraries/
versions/
.paper-remapped/
.console_history

# ===== JAR =====
*.jar
!plugins/*.jar

# ===== WORLDEDIT =====
plugins/WorldEdit/.archive-unpack/
plugins/WorldEdit/schematics/

# ===== WORLDGUARD CACHE =====
plugins/WorldGuard/cache/

# ===== ANALYTICS / CACHE =====
plugins/FancyAnalytics/
plugins/bStats/
plugins/spark/

# ===== FANCYNPCS CACHE =====
plugins/FancyNpcs/.data/skins/
plugins/FancyNpcs/version.yml
plugins/FancyNpcs/featureFlags.yml

# ===== TAB CACHE =====
plugins/TAB/skincache.yml
plugins/TAB/playerdata.yml

# ===== UNUSED / OLD PLUGIN =====
plugins/Citizens/

# ===== CONFIG KHÔNG CẦN ĐỒNG BỘ =====
plugins/PlaceholderAPI/config.yml
plugins/WorldEdit/config.yml

# ===== BLAZECORE PLAYER DATA =====
plugins/BlazeCore/data/

# ===== PLAYER / SERVER RUNTIME DATA =====
usercache.json
ops.json
whitelist.json
banned-ips.json
banned-players.json
eula.txt
version_history.json

# ===== DEFAULT / UNUSED =====
help.yml
permissions.yml
wepif.yml

# ===== WINDOWS =====
Thumbs.db
desktop.ini

# ===== TEMP / BACKUP =====
*.log
*.tmp
*.bak
*.zip
*.rar
*.7z